<!DOCTYPE html>
<html>

<head>
    <script src="../angularjs/angular.js"></Script>
    <script src="js/Script.js"></Script>
</head>

<body ng-app="myModule">
    <!-- Seems can only be one ng-app -->
    <div ng-controller="myController">
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    <input type="text" ng-model="employee.firstName" />  <!-- ng-model directive can be used with <input> <select> <textarea> -->
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    <input type="text" ng-model="employee.lastName" />
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="text" ng-model="employee.gender" />
                </td>
            </tr>
        </table>
        <br/>
        <table>
            <tr>
                <td>First Name</td>
                <td>
                    {{employee.firstName}}
                </td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>
                    {{employee.lastName}}
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    {{employee.gender}}
                </td>
            </tr>
        </table>
    </div>
</body>

</html>