<!DOCTYPE html>
<html>

<head>
    <script src="../angularjs/angular.js"></Script>
    <script src="js/Script.js"></Script>
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body ng-app="myModule">
    <!-- Seems can only be one ng-app -->
    <div ng-controller="myController">
        Rows to display : <input type="number" step="1" min="0" max="5" ng-model="rowLimit"/>
        <br/><br/>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth</th>
                    <th>Gender</th>
                    <th>Salary (number)</th>
                    <th>Salary (currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit">
                    <td>{{employee.name | uppercase}}</td>
                    <td>{{employee.dateOfBirth | date:"dd/MM/yyyy"}}</td>
                    <td>{{employee.gender | lowercase}}</td>
                    <td>{{employee.salary | number:2}}</td>
                    <td>{{employee.salary | currency:"$":1}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>